* {
    padding: 5px;
}

body {
    background-color: #f5f4f4;
}

.header {
    padding: 15px;
    /* margin: 15px 10px; */
    text-align: center;
    background-color: rgb(73, 224, 224);
}

.table {
    width: 100%;
    border-collapse: collapse;
}

tr td{
    border: 2px solid white;
}

.thead {
    text-align: center;
    background-color: rgb(9, 196, 134);
    color: white;
    font-size: 18px;
}

td {
    padding: 7px;
}

.tbody {
    background-color: white;
}

.GPA {
    text-align: right;
}